<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Todo-Home</title>
    <link rel="stylesheet" href="/stylesheets/style_home.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  </head>
  <body>
    <header>
      <nav class="nav_main">
        <div class="nav_logo">
          <p>Anonmyous</p>
        </div>
        <div class="nav_items">
          <ul class="nav_ul">
            <li class="nav_li"><a href="/logout">Logout</a></li>
            <li class="nav_li active" ><a href="/home">Home</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="error">
        <% if(loginUser){ %>
            <p> Welcome <%= loginUser %> ! </p>
        <% } %>
    </div>
    <div class="wrapper">
      <div class="title">
        Enter Todo
      </div>
      <div class="error">
        <% if(msg != ""){ %>
            <p><%= msg %></p>
        <% } %>
      </div>
      <form action="/home" method="post">
      <div class="form">
        <div class="input_feild">
          <label>Title</label>
          <input type="text" class="input" name="title" value="" required> 
        </div>
        <div class="input_feild">
          <label>Description</label>
          <input type="text" class="input" name="description" required>
        </div>
        <div class="input_feild">
          <input type="submit" value="Insert Todo" class="btn">
        </div>
      </div>
    </form>
    </div>

    <table border="0px" class="table_main">
      <tr class="table_row">
        <th>Title</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      
      <% 
        if(records.length > 0){ 
          records.forEach(function(row){ 
            if(row.username == loginUser){       
      %>
      <tr class="table_row_data">
        <td><%= row.title %></td>
        <td><%= row.description %></td>
        <td class="table_edit"><a href="/edit/<%= row._id %>">Edit</a></td>
        <td class="table_delete"><a href="/home/delete/<%= row._id %>">Delete</a></td>
      </tr>
      <% } }) } %>
    </table>
  </body>
</html>
